@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Consultas de Prestamos</h1>

<a href="@Url.Action("AgregarPrestamo")" class="btn btn-primary">Crear Prestamo</a>
